@font-face {
    font-family: 'Apple LiGothic';
    src: url('LiGothicMed.woff2') format('woff2'),
        url('LiGothicMed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

